<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="../static/js/system/role/list.js" th:src="@{/js/system/role/list.js}"></script>
<div class="m-b-md">
    <form class="form-inline" id="searchForm" name="searchForm">
        <div class="form-group">
            <label class="control-label"> <span class="h4 font-thin v-middle">角色名:</span></label> 
            <input class="input-medium ui-autocomplete-input" id="name" name="sysRoleFormMap.name" />
        </div>
        <a href="javascript:void(0)" class="btn btn-default" id="search">查询</a>
    </form>
</div>
<header class="panel-heading">
    <div class="doc-buttons">
        <button type="button" id="addRole" class="btn btn-primary marR10">新增</button>
        <button type="button" id="editRole" class="btn btn-info marR10">编辑</button>
        <button type="button" id="delRole" class="btn btn-danger marR10">删除</button>
        <button type="button" id="permissions" class="btn btn-grey marR10">分配权限</button>
    </div>
        <div>
        <label class="unit"><span class="h4 font-thin v-middle">状态</span></label> <select id="status" name="sysRoleFormMap.state" style="width: 140px; padding: 0px 43px;">
            <option value="all">全部</option>
            <option value="0">启用</option>
            <option value="1">禁用</option>
        </select>
    </div>
</header>
<div class="table-responsive">
    <div id="paging" class="pagclass"></div>
</div>
</html>