<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" src="/js/system/user/list2.js}" th:src="@{/js/system/user/list2.js}"></script>
<div class="m-b-md">
    <form class="form-inline" id="searchForm" name="searchForm">
        <div class="form-group">
            <label class="control-label"> <span class="h4 font-thin v-middle">账号:</span></label> <input class="input-medium ui-autocomplete-input" id="userName" name="sysUserFormMap.userName" />
        </div>
        <a href="javascript:void(0)" class="btn btn-default" id="search">查询</a> <a href="javascript:grid.exportData('/user/export')" class="btn btn-info" id="search">导出excel</a>
    </form>
</div>
<header class="panel-heading">
    <div class="doc-buttons">
        <button type="button" id="addAccount" class="btn btn-primary marR10">新增</button>
        <button type="button" id="editAccount" class="btn btn-info marR10">编辑</button>
        <button type="button" id="delAccount" class="btn btn-danger marR10">删除</button>
    </div>
</header>
<div class="table-responsive">
    <div id="paging" class="pagclass"></div>
</div>
</html>