<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<div th:include="common/common :: copyCommon"></div>
<head>
<script type="text/javascript" src="../static/js/system/role/add.js" th:src="@{/js/system/role/add.js}"></script>
</head>
<body>
    <div class="l_err" style="width: 100%; margin-top: 2px;"></div>
    <form id="form" name="form" class="form-horizontal" method="post" th:action="@{/role/addEntity}">
        <section class="panel panel-default">
            <div class="panel-body" style="margin-right: 15px">
                <div class="form-group">
                    <label class="control-label">角色名：</label> 
                    <input type="text" class="form-control checkacc" placeholder="请输入角色名" name="sysRoleFormMap.name" id="name" />
                </div>
                <!-- <div class="line line-dashed line-lg pull-in"></div> -->
<!--                 <div class="form-group">
                    <label class="control-label">角色Key：</label> 
                    <input type="text" maxlength="20" class="form-control" placeholder="请输入roleKey" name="sysRoleFormMap.roleKey" id="roleKey" />
                </div> -->
                <!-- <div class="line line-dashed line-lg pull-in"></div> -->
                <div class="form-group">
                    <label class="control-label">备注：</label> 
                    <input type="text"  maxlength="50" class="form-control" placeholder="请输入账号描述" name="sysRoleFormMap.description" id="description" />
                </div>
                <!-- <div class="line line-dashed line-lg pull-in"></div> -->
                <div class="form-group">
                    <label class="control-label">角色状态：</label> 
                    <select class="form=-control" data-requireed="true" name="sysRoleFormMap.state" id="state">
                        <option value="0">可用</option>
                        <option value="1">禁用</option>
                    </select>
                </div>
                <!-- <div class="line line-dashed line-lg pull-in"></div> -->
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <button type="submit" class="btn btn-success btn-s-xs">提交</button>
            </footer>
        </section>
    </form>
</body>
</html>