<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ysttench.application.htdytasties.settings.kernel.mapper.EquipmentMapper">
	<!-- 以下与实体类的中字段一致 -->

	<select id="findEquipPage"
		resultType="com.ysttench.application.htdytasties.settings.kernel.entity.EquipmentFormMap">
		SELECT
		equipment.*,
		equip_type.EQUIPMENT_TYPE AS TYPE_NAME,
		regional.`NAME` AS AREA_NAME,
		sys_user.USER_NAME,
		supplier.`NAME` AS SAMP_NAME
		FROM
		equipment
		LEFT JOIN equip_type ON equipment.EQUIPMENT_TYPE = equip_type.ID
		LEFT JOIN regional ON equipment.REGIONAL_ID = regional.ID
		LEFT JOIN sys_user ON equipment.HEAD = sys_user.USER_ID
		LEFT JOIN supplier
		ON equipment.SAMP_INTER = supplier.ID
		WHERE equipment.DELETE_STATUS='0'
	</select>
	<select id="findEquip"
		resultType="com.ysttench.application.htdytasties.settings.kernel.entity.EquipmentFormMap">
		SELECT
		equipment.EQUIPMENT_NUM,
		equipment.EQUIPMENT_NAME,
		equip_type.EQUIPMENT_TYPE AS TYPE_NAME,
		regional.`NAME`,
		sys_user.USER_NAME,
		supplier.`NAME` AS SAMP_NAME
		FROM
		equipment
		LEFT JOIN equip_type ON equipment.EQUIPMENT_TYPE = equip_type.ID
		LEFT JOIN regional ON equipment.REGIONAL_ID = regional.ID
		LEFT JOIN sys_user ON equipment.HEAD = sys_user.USER_ID
		LEFT JOIN supplier
		ON equipment.SAMP_INTER = supplier.ID
		WHERE equipment.DELETE_STATUS='0'
	</select>
</mapper>