<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysttench.application.htbw.settings.kernel.mapper.LogUserLoginMapper">
    <!-- 以下与实体类的中字段一致 -->
    <sql id="selectId">
        ID,
        USER_ID,
        USER_NAME,
        LOGIN_TIME,
        LOGIN_IP
    </sql>
</mapper>